div
  img.image-text.left(src='assets/images/gallery/hires/gallery5_portrait.JPG')
  p
    a.btn.btn-primary(href='assets/files/TracyJamesCV2014.pdf', title='Tracy James CV', target='_blank') Download CV
  p Tracy James is a session and orchestral musician based in London. As a flautist, saxophonist and clarinettist, she regularly plays in musical theatre, opera and concerts in and around the London area and undertakes session work on recordings for various solo artists.
  p Originally from South Wales, Tracy graduated from the University of Bristol with a BA (hons) and holds an ATCL Recital Diploma. She has studied with Douglas Townshend, Anna Noakes and Simon Channing.
  p Tracy has performed at many prestigious venues throughout Britain including Bridgewater Hall, Royal Festival Hall and Sheldonian Theatre. She regularly plays with Oxford Chamber Orchestra, Situation Opera Orchestra, The Dan Beach Function Band and Trillium: 2 Flutes & Piano Trio.
  p Numerous production tours have taken Tracy all over the world, including the USA, Europe and most recently China with The Amadeus Orchestra. She has performed in many music festivals including Vienne Jazz Festival and Edinburgh Festival. Her most recent shows have been Joseph, Cabaret and Kiss Me Kate.