.alert.alert-danger(ng-show="error") Error sending message: {{error}}
form.contact-form(ng-submit="submit()", ng-hide="success")
  .contact-field
    .contact-field-label Your name
    input(ng-model="message.name", required="")
  .contact-field
    .contact-field-label Your email address
    input(ng-model="message.email", required="", type="email")
  .contact-field
    .contact-field-label Your message
    textarea(ng-model="message.message", required="")
  button.contact-submit.pull-right(type="submit")
    span(ng-show="!sending") Send message!
    span(ng-show="sending") Sending...
// Success
div(ng-show="success")
  h2.align-center.margin-top Thank you for your message!
  .align-center.margin-top
    img.max-width-30pc(src='assets/images/captions/tracy_thanks.JPG')