div
  img.image-text.left(src='assets/images/captions/ensemble1.jpg')
  div
    img.image-text.image-text-logo(src='assets/images/captions/TJ Function Band_finalsmall.jpg')
    p TJ's Function Band provide live music for all manner of events nationwide. This exciting ensemble consists of a minimum of a four piece band; Callum Yule (Bass), Anthony Calnan (Piano), Ben Essenhigh (Drums) and Tracy James(Reeds). The group can also expand to include extra Brass, Rhythm and Singers, depending on the size of the venue and the type of engagement.
div
  a(href="http://www.facebook.com/pages/Trillium/203895322979643?sk=info", target="_blank").no-highlight
    img.image-text.right(src='assets/images/captions/Trillium.jpg')
    div
      img.image-text.image-text-logo.height40(src='assets/images/captions/trillium logo_finalsmall.jpg')
      p Trillium is a dynamic trio ensemble of two flutes, Jo Wyld and Tracy James and piano, Emily Payne. The trio perform a wide repertoire of pieces, as well as exploring new arrangements, many of which being created especially for the ensemble by flautist member Jo Wyld. The group perform regularly at schools and music centres throughout South-East London, bringing both entertainment and inspiration to today's young musicians. Trillium also perform at private functions and weddings all over the country providing music for a wide variety of engagements.
      img.image-text.image-text-fb(src='assets/images/FB_FindUsOnFacebook-512.png')