.align-center.relative
  //a(ui-sref="{{navSectionPrimaryContent.state}}")
  img.max-width-100pc(src='assets/images/captions/cover.jpg')
  .absolute-overlay.small-screen-only(ng-click="toggleMobileMenu()")