.links-list
  // Twitter
  a.twitter-follow-button(href='https://twitter.com/TracyJamesFlute', data-show-count='false', data-size='large') Follow @TracyJamesFlute
    script
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

  // Links
  .margin-top
    a(ng-repeat="link in links", href="{{link.link}}", target="_blank").link-item
      div
        .glyphicon.glyphicon-link.margin-right.valign-middle.link-item-icon.inline-block
        .title.inline-block {{link.title}}
      div
        .description {{link.description}}